@import "@/styles/global/mixins";

.container {
    width: 320px;
    position: relative;
  }
  
.button {
  font-size: 16px;
  width: 100%;
  height: 48px;
  color: #000;
  @include spacer(padding, all, 10 / 32);
  @include spacer(margin, t, 1 / 8);
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
  border-radius: 12px;
  transition: border 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  &:hover {
    border: 1px solid var(--border-primary-hover, rgba(7, 0, 15, 0.40));
  }

  &:focus {
    outline: none;
  }

  .button_title {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
  }

  .button_icon {
    @include spacer(margin,r, 1 / 4);
  }
  
  .button_badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--badge-primary, #0070f3);
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
  
.dropdown {
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 76px;
  border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
  border-radius: 12px;
  animation: fadeIn 0.3s ease;

  .vignette {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255) 100%);
    border-radius: 12px;
  }
}
    
.list {
  position: relative;
  list-style-type: none !important;
  padding: 0;
  height: 248px;
  overflow-y: auto;
  @include spacer(margin, r, 1 / 4);
  @include spacer(margin, t, 1 / 4);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0) transparent;
}
    
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial";
  height: 48px;
  line-height: 150%;
  font-weight: 500;
  font-size: 16px;
  @include spacer(padding, l, 1 / 2);
  @include spacer(padding, r, 1 / 4);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--hover-primary, rgba(7, 0, 15, 0.10));
  }

  &:last-child {
    @include spacer(padding, t, 1 / 4);
    @include spacer(padding, b, 1 );
    height: auto;
  }

  .item_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  
  .item_checkbox {
    appearance: none;
    width: 32px;
    height: 32px;
    border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
    border-radius: 50%;
    transition: background 0.3s, border 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
  }
  
  .item_checkbox:checked {
    background: #0070f3;
  }
  
  .item_checkbox:checked::before {
    content: url('/images/checkbox.svg');
    display: block;
    
  }
}
  
  .tabs {
    display: flex;
    @include spacer(padding, t, 3 / 8);
    @include spacer(padding, x, 1 / 2);
    border-bottom: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));

    .tab {
      padding-bottom: 12px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--text-tertiary, rgba(7, 0, 15, 0.40));
      @include spacer(margin,r, 1 / 2);
      cursor: pointer;
    }

    .active_tab {
      border-bottom: 1px solid var(--border-strong, #07000F);
      color: var(--text-primary, #07000F);
    }    
  }
  
.active_items {
  height: 53px;
  display: flex;
  align-items: center;
  @include spacer(padding, x, 1 / 2);
  border-bottom: 1px solid var(--stroke-grey, #E3E6E8);
  overflow: hidden;
  // overflow-x: auto;
  // width: 100%;

  .active_item {
    border: 1px solid var(--border-primary, rgba(7, 0, 15, 0.10));
    @include spacer(padding, x, 3 / 8);
    @include spacer(padding, y, 1 / 4);
    border-radius: 8px;
    text-transform: uppercase;
    white-space: nowrap;
    @include spacer(margin, r, 1 / 8);
    font-size: 14px;
    letter-spacing: -0.28px;
    font-weight: 700;

    .remove_button {
      @include spacer(margin, l, 1 / 4);
    }
  }
}
  
.list::-webkit-scrollbar {
  width: 4px;
  cursor: grab;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 100px;
  @include spacer(padding, r, 1 / 2);
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  