@import "@/styles/global/mixins";

.body {
  font-family: "Roboto Condensed";
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  @include spacer(padding, t, 8);
  background-color: #e9e9e9;
}